#root {
  @apply max-w-screen-lg;
  margin: 0 auto;
  padding: 0 2rem;
}

.heading-title {
  @apply font-bold;
  background: var(--bg-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  background: var(--bg-gradient);
  @apply absolute w-full flex flex-col gap-4 p-10 border-2 rounded-xl;
}

.btn-register-now {
  position: absolute;
  top: 81.5%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

.hero-character {
  position: absolute;
  bottom: 100px;
  right: 70px;
  height: auto;

  @media screen and (700px < width <= 900px) {
    height: 420px;
    bottom: 75px;
    right: 55px;
  }

  @media screen and (max-width: 700px) {
    height: 380px;
    bottom: 75px;
    right: 55px;
  }

  @media screen and (width <= 549px) {
    height: 300px;
    bottom: 58px;
    right: 45px;
  }

  @media screen and (max-width: 425px) {
    height: 250px;
    bottom: 45px;
    right: 35px;
  }

  @media screen and (width < 425px) {
    height: 180px;
    bottom: 35px;
    right: 25px;
  }
}

@media only screen and (width <= 712px) {
  #root {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
